/* 기본 설정 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-y: auto; 
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none; /* 스크롤바를 숨깁니다 */
}

img,
.fullscreen-img,
.fullscreenA-img,
.solar-img,
.intro-image,
.top-overlay {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

/* 전체 컨테이너 설정 */
.Home-container {
  width: calc(100% - 20px);
  padding-top: 80px;
  margin-right: 10px;
  margin-left: 10px;
  background: linear-gradient(to bottom, #ffffff 43%, #aacadb 49%, #5d6b77 71%, #a6c2d8 75%);
  overflow-x: visible;
  box-sizing: content-box;
  height: auto;
}

/* 섹션 공통 스타일 */
.section {
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  min-height: 90vh;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  will-change: opacity, transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 맨 위 배경 색상 클래스 */
section.section.section1.section-white.visible {
  background-color: white;
}

.section1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px; 
  position: relative;
  min-height: 134vh;
}

.section2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  min-height: 100vh; 
  background-image: url('../../../assets/HomePage/renewable_energy.png');
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  text-align: left;
}

.underline {
  width: 100px;        
  height: 1px;       
  background-color: #000000;  
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 1px;
}

.text-overlay .text_title1 h2{
  font-size: 2.8rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 510px;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.intro-image {
  width: 100%;
  max-width: 1400px;
  height: auto; 
  object-fit: cover;
  z-index: 1;
  position: absolute;
  margin: 20rem 2rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* 전체화면 이미지 스타일 */
.fullscreen-img,
.fullscreenA-img,
.solar-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 섹션을 덮도록 설정 */
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 수직 중앙 */
  left: 50%; /* 수평 중앙 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 오프셋 */
}


.solar-img {
  z-index: 1;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: url('../../../assets/HomePage/solar_power_background.png');
}


.underline2{
  width: 100px;           /* 선 길이 */
  height: 1px;           /* 선 두께 */
  background-color: #000000;  /* 선 색 */
  margin-bottom: 20px;
  margin-left: 1px;
}

.solar-text .text_title2 h2{
  font-size: 2.8rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-top: 10px;
}

.section3 .content {
  margin: 0;
  padding: 0;
}

.section3 .button-group {
  margin-top: 0; 
  padding: 0;
}

/* 버튼 그룹 */
.button-group {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 2;
}

.custom-btn {
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
}


@media(max-width: 768px){
  .section1{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 29vh;
  }

  .section1 .intro-image {
    margin-bottom: 0; /* 첫 번째 이미지와 두 번째 섹션 사이의 여백을 완전히 없앰 */
    margin: 4rem 2rem;
  }

  

}


