/* 기본 설정 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-y: auto; 
  scroll-behavior: smooth;
}

/* 공통 이미지 스타일 - 여백 제거 */
img, .fullscreen-img, .fullscreenA-img, .solar-img {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

/* 섹션 간 미세한 틈 제거 */
.section + .section {
  margin-top: -2px;
}

/* 전체 컨테이너 설정 */
.Home-container {
  width: 100%;
  padding-top: 80px;
  background: linear-gradient(to bottom, #ffffff 45%, #aacadb 50%, #5d6b77 70%, #95b1d2 73%)
}

/* 섹션 공통 스타일 */
.section {
  position: relative;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  min-height: calc(100vh + 1px);  /* 오차 보정용 */
  margin: 0;
  padding: 0;
  will-change: opacity, transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 배경 색상 클래스 */
section.section.section1.section-white.visible {
  background-color: white;
}s

.section-color {
  background: linear-gradient(to bottom, #c0ddff, #d3edff);
}

.section1 {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0px; /* carbon_intro 여백 조절 */
}

.top-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 510px;
  object-fit: cover;
  z-index: 0;
}

.intro-image {
  width: 1400px;
  height: 938px;
  object-fit: cover;
  z-index: 1;
  position: relative;
  margin-top: 25rem;
}

/* 전체화면 이미지 스타일 */
.fullscreen-img,
.fullscreenA-img,
.solar-img {
  width: 100%;
  height: calc(100vh + 3px);
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}


.solar-img {
  z-index: 1;
}

/* 버튼 그룹 */
.button-group {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 2;
}

.custom-btn {
  background: none;
  border: none;
  color: black;
  font-size: 2rem;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 8px;
}
